.wrapper {
    padding-top: 150px;
    padding-bottom: 100px;
}

.title {
    text-align: center;
    font-size: 140px;
    line-height: 1.5;
}

.message {
    text-align: center;
    font-size: 50px;
    line-height: 2;
}