.wrapper {
    margin-top: 64px;
    color: rgb(63, 81, 181);
}

.title {
    text-align: center;
    margin-top: 350px;
    font-size: 240px;
}

.description {
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
}