<mat-card class="align-center form-card">
  <mat-card-title class="text-center">LOGIN</mat-card-title>
  <mat-card-content>

    <form class="align-center" [formGroup]="form" (submit)="login()" (change)="onFormChange()">
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email" required email/>
        <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password" required minlength="3"/>
        <mat-error *ngIf="form.controls.password.hasError('minlength') && !form.controls.password.hasError('required')">
          Password must be at least {{form.controls.password.errors.minlength.requiredLength}} characters
        </mat-error>
        <mat-error *ngIf="form.controls.password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-card-subtitle class="error-message">
        <span *ngIf="error">
          {{ error?.statusText }}
        </span>
      </mat-card-subtitle>
      <button class="submit-button" type="submit" mat-raised-button color="primary" [disabled]="!this.form.valid">Sing In</button>
    </form>

  </mat-card-content>
</mat-card>
