.mat-card {
  padding-top: 200px;
  padding-bottom: 300px;
  // min-height: 800px;
}

.form-card {
  display: flex;
  min-height: 100%;
}

.error-message {
  color: red;
  height: 20px;
}

.mat-form-field {
  margin-bottom: 5px;
}

.submit-button {
  margin-top: 10px;
}
