.material-icons {
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.button-title {
    text-transform: uppercase;
    text-decoration: none;
}

span {
    font-size: 15px;
}

.alert {
    color: lightcoral;
}