<div>
    <a *ngIf="!status; else deactivateUser" href="">
        <span class="material-icons">
            check
        </span>
        <span class="button-title">Activate</span>
    </a>
    <ng-template #deactivateUser>
        <a class="alert" href="">
            <span class="material-icons">
                close
            </span>
            <span class="button-title">Deactivate</span>
        </a>
    </ng-template>

    <br>
    <a routerLink="edit">
        <span class="material-icons">mode_edit</span>
        <span class="button-title">Edit</span>
    </a>
    <br>
    <a class="alert" href="">
        <span class="material-icons">
            person_off
        </span>
        <span class="button-title">Delete</span>
    </a>
</div>
